@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.Grid {
  margin-left: 12.9rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.3);
  /* Optional: to add a slight white overlay */
  z-index: 1000;
  pointer-events: none;
  /* Prevent interactions with the overlay */
  opacity: 0;
  transition: opacity 0.4s ease;
}

.overlay.active {
  opacity: 1;
}

.navbar {
  background-color: #060b26;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2.5rem;
  background: none;
}

.nav-menu {
  background-color: #060b26;
  width: 550px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 1050ms;
  border-right: 6px ridge #f5f5f5;
  z-index: 1001;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 90px;
  font-family: 'Verdana', sans-serif;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 24px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #57ff1a;
  opacity: 0.8;
  color: black;
  font-weight: bolder;
}

.nav-menu-items {
  width: 150%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex; 
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.input{
  margin: auto;
  padding: 20px;
  font-size: 20px;
  position: relative;
  left: 282px;
}

.searchbar{
  text-decoration: none;
  padding: 22px;
  margin-right: 10px;
  font-size: 18px;
}

.Container {
  height: 340px;
  width: 250px;
  display: block;
  text-align: center;
  margin-bottom: 3.2rem;
  z-index: -1;
  background-position: center;
}

.Container:hover {
  color: orangered;
}

.searchbox {
  font-family: Roboto, "SF Pro Display", Arial, sans-serif;
  position: absolute;
  top: 4.9em;
  left: 36.15em;
  width: 52rem;
  background-color: white;
  border: 1px ridge #060b26;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #060b26;
  z-index: 7;
}

.searchbox :hover{
  background-color: lightgray;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.Container h2 {
  background-color: green;
  color: white;
  font-size: 1.8rem;
  position: relative;
  top: 130px;
}


.genres h1 {
  margin-right: 5px;
  padding: 2px;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 100px;
}

.containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid brown;
  text-align: center;
  padding: 3.2em;
  margin: 4.3em;
  margin-right: 2em;
  margin-bottom: 6em;
  font-size: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.containers button {
  background-color: white;
  color: black;
  border: 2px solid steelblue;
  font-size: 15px;
  margin-bottom: 13px;
  padding: 4px;
}

.containers button:hover {
  background-color: indigo;
  color: white;
}

.containers h2 {
  font-family: "Righteous", sans-serif;
  text-transform: uppercase;
  color: chocolate;
}

.containers span {
  text-decoration: line-through;
  text-decoration-color: black;
  text-decoration-style: double;
  color: red;
}

.containers h3 {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  right: 18px;
}

.B {
  margin-left: 20px;
  margin-right: 20px;
}

.P4 {
  margin-right: 450px;
}

.Box {
  font-size: 1.6rem;
  text-align: center;
}

.Box a {
  font-family: "Fira Code";
  font-size: 1.3em;
  margin-right: 60px;
  margin-left: 10px;
  margin-bottom: 20px;
  display: inline-flex;
  color: brown;
  font-weight: bolder;
  justify-content: space-between;
  text-decoration: none;
}

.Box a:hover {
  color: indigo;
}

.Box h1 {
  letter-spacing: 12px;
  font-family: "Code";
  /* position: relative; */
  padding: 30px;
}

.Cart {
  text-align: center;
  font-size: 1.4rem;
}

.Cart h1 {
  letter-spacing: 12px;
  font-family: "Code";
  position: relative;
  padding: 10px;
}

.Cart a {
  font-family: "Code";
  font-size: 1.5em;
  margin: 20px;
  margin-left: 30px;
  display: inline-flex;
  color: brown;
  font-weight: bolder;
  justify-content: space-evenly;
}

.Cart a:hover {
  color: indigo;
}

.containers a {
  color: orange;
  text-decoration: line-through;
}

.LogButton {
  background-color: white;
  color: black;
  border: 2px solid steelblue;
  border-radius: 15px;
  margin-left: 40px;
  font-size: 25px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.LogButton:hover {
  background-color: white;
  color: white;
}

.click1{
  text-decoration: none;
  color: black;
}

.click {
  border-radius: 35px;
  height: 42px;
  width: 40px;
  margin-left: 1em;
}
.click:hover {
  background-color: indigo;
  color: white;
}
.foot {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX_jzWkFVsTjMn3knom5Oqb8Q2cze3wCf75Q&usqp=CAU")
    no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.wrapper {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em;
  font-family: Poppins, sans-serif;
  font-weight: bold;
}

.wrapper .part1 {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.wrapper .part1 h1 {
  color: darkgreen;
  font-size: 30px;
  margin-bottom: 25px;
  margin-top: 20px;
}

.wrapper .part1 h3{
  color: darkgreen;
  font-size: 20px;
  margin-bottom: 25px;
  margin-top: 35px;
  font-weight: bold;
}

.wrapper .part1 p {
  width: 500px;
  font-size: 18px;
}
.wrapper .part2 {
  position: relative;
  bottom: 30px;
  right: 20px;
}
.wrapper .part3 {
  position: relative;
  bottom: 20px;
  left: 20px;
}

.wrapper .part2 h1 {
  color: darkgreen;
  font-size: 30px;
  margin-bottom: 20px;
}

.wrapper .part2 ul {
  position: relative;
  font-size: 20px;
  right: 26px;
  list-style: none;
  cursor: pointer;
}

.wrapper .part3 h1 {
  color: navy;
  font-size: 30px;
  margin-bottom: 20px;
}
.wrapper .part3 ul {
  list-style: none;
  font-size: 20px;
  position: relative;
  right: 26px;
  cursor: pointer;
}
.wrapper .part4 {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.subscriber {
  margin: 2px;
  border-radius: 8px;
  width: 300px;
  height: 38px;
}

.part4 h2 {
  color: navy;
  margin-bottom: 10px;
}

.part4 button {
  position: relative;
  margin-top: 10px;
  left: 2px;
  background-color: orange;
  width: 150px;
  height: 40px;
  border-radius: 9px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
hr {
  width: 99%;
}
.social {
  margin-left: auto;
  margin-right: 35%;
  max-width: 400px;
  cursor: pointer;
}
.social i {
  margin-top: 20px;
  margin-right: 60px;
  margin-bottom: 30px;
  font-size: 40px;
  border-radius: 10px;
}

.Logged {
  display: flex;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.7em;
  color: black;
  margin-left: 2em;
  font-weight: bold;
}
